.navbar {
    img {
        height: 50px;
    }

    .collapse {
        button {
            background-color: #B8D4FE;
            border-color: #B8D4FE;

            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}
