<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <!-- Container wrapper -->
        <div class="container">

            <a class="navbar-brand me-2" routerLink="/">
                <img src="https://e7.pngegg.com/pngimages/107/1006/png-clipart-currency-converter-amazon-alexa-foreign-exchange-market-united-states-dollar-euro-miscellaneous-text.png"
                    height="16" alt="APP Logo" loading="lazy" class="img-fluid" style="margin-top: -1px;" />
            </a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" *ngIf="api.hideDetailsBtn == false"
                data-mdb-target="#navbarRightAlignExample" aria-controls="navbarRightAlignExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarRightAlignExample" *ngIf="api.hideDetailsBtn == false">
                <!-- Left links -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
                    <button type="button" class="btn" (click)="eurToUsd()">
                        EUR-USD Details
                    </button>
                    <button type="button" class="btn" (click)="eurToGbp()">
                        EUR-GBP Details
                    </button>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
</header>