<main class="container mt-5">
  <!-- convert panel -->
  <section>
    <mat-form-field floatLabel="always" class="me-5">
      <mat-label>Amount</mat-label>
      <input matInput type="number" placeholder="0" [(ngModel)]="api.amount">
    </mat-form-field>

    <mat-form-field>
      <mat-label>From</mat-label>
      <mat-select [(value)]="api.selected1">
        <mat-option *ngFor="let currency of api.allCurrencies" [value]="currency">{{currency}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="button" class="btn btn-primary mx-4" (click)="swap(api.selected1, api.selected2)"
      [disabled]="!api.validAmount">
      <i class="fa-solid fa-right-left"></i>
    </button>

    <mat-form-field>
      <mat-label>To</mat-label>
      <mat-select [(value)]="api.selected2">
        <mat-option *ngFor="let currency of api.allCurrencies" [value]="currency">{{currency}}</mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <!-- display result panel -->
  <section>
    <button type="button" class="btn btn-primary mb-5" [disabled]="!api.validAmount"
      (click)="convertCurrencies()">convert</button>

    <div class="row d-flex justify-content-center" *ngIf="api.convertResult">
      <div class="col-md-12 convert flex-column">
        <h1>
          1&nbsp;{{api.fromCurrency}} =
          {{api.result}}&nbsp;{{api.toCurrency}}
        </h1>
        <h1>
          {{api.amountEntered}}&nbsp;{{api.fromCurrency}} =
          {{api.convertResult}}&nbsp;{{api.toCurrency}}
        </h1>
        <div>
          <button type="button" class="btn btn-primary mb-5 text-capitalize">
            <a routerLink="/details">more details</a>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- 9 cards for most popular currencies -->
  <section class="mt-5 pb-5 row gap-4 popularCurrencies" *ngIf="api.convertResult">
    <div class="col-md-3 col-sm-12" *ngFor="let currency of api.displayPopularCurrencies | keyvalue">
      <h2>
        1&nbsp;{{api.fromCurrency}}&nbsp;=&nbsp;{{currency.value}}&nbsp;{{currency.key}}
      </h2>
    </div>
  </section>
</main>
